

.cartao-pessoa {
  border: 2px solid #8e44ad; 
  border-radius: 15px;
  padding: 25px;
  background: #f3e5f5; 
  color: #333;
  max-width: 200px;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.cartao-pessoa h2 {
  margin-top: 0;
  color: #8e44ad;
}

.cartao-pessoa p {
  line-height: 1.5;
}