#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.app-rpg-container {
  max-width: 700px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}
.component-box {
  margin-bottom: 15px;
}
button, input, select {
  margin: 2px;
  font-size: 14px;
  padding: 5px;
}
.vida-container {
  padding: 10px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.vida-critica {
  font-weight: bold;
}
.barra-xp-fundo {
  width: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  height: 24px;
}
.barra-xp-progresso {
  height: 100%;
  background-color: #007bff;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
}
.atributo-item,
.lista-itens-loja li,
.lista-missoes li,
.lista-ranking li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  text-align: left;
}
.lista-missoes, .lista-itens-loja {
  list-style-type: none;
  padding: 0;
}
.form-missao, .form-ranking {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
  justify-content: center;
}
.input-edicao {
  width: 60px;
}